---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Mascot from "../components/Mascot.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import Kitchens from "../components/Kitchens.astro";
import Furniture from "../components/Furniture.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />
  <Mascot />
  <div
    id="sections"
    class="font-arial bg-pale-light-gray mt-12.5 flex-1 flex flex-col"
  >
    <Hero />
    <Services />
    <Kitchens />
    <Furniture />
  </div>
  <Footer />
</Layout>
