body {
        font-family: Arial;
      }

#nav {
    display:flex;
    position:fixed;
    top: 0;
    color:aliceblue;
    background-color: #212a31;
    height: 50px;
    width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

.nav-element {
    width: 20%;
    padding: 20px;
}

#logo {
    font-family:Verdana;
    font-weight: bold;
    font-size: 20px;
    padding: 15px;
}

#body {
    background-color: #d3d9d4;
    height: 700px;
    margin-top: 50px;
}

#footer {
    display:flex;
    color: aliceblue;
    background-color: #212a31;    
}

.footer-element {
 padding: 10px;
 width: 33.33%;
}

.footer-heading {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 15px;
    
}