/* General styles */
body {
    font-family: Arial;
    color: #d3d9d4;
    font-size: 1rem;
}


/* header */
#nav {
    display: flex;
    position: fixed;
    top: 0;
    color: aliceblue;
    background-color: #212a31;
    height: 3.125rem; /* 50px */
    width: 100%;
    z-index: 1000;
}

a {
  color: white;
  text-decoration: none;
}

.nav-element {
    width: 20%;
    padding: 1.25rem; /* 20px */
}

#logo {
    font-family: Verdana;
    font-weight: bold;
    font-size: 1.25rem; /* 20px */
    padding: 0.9375rem; /* 15px */
}


#sections {
    font-family: Arial;
    background-color: #d3d9d4;
    margin-top: 3.125rem; /* 50px */
}

/* section 1 */
#hero-section {
    position: relative;
    background-image: url("./images/hero-image.jpg"); /* Using a placeholder image */
    background-size: cover;
    background-position: center;
    height: 25rem; /* 400px */
}

#hero-text {
    position: absolute;
    top: 9.375rem; /* 150px */
    left: 5%;
    color: white;
    font-size: 1.875rem; /* 30px */
    width: 60%;
    z-index: 2;
}

#hero-button {
    position: absolute;
    top: 18.75rem; /* 300px */
    left: 15%;
    padding: 0.625rem 1.25rem; /* 10px 20px */
    border-radius: 0.75rem;
    background-color: #124e66;
    color: white;
    font-size: 1.25rem; /* 20px */
    border: none;
    cursor: pointer;
    z-index: 2;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* semi-transparent black */
    z-index: 1;
}

#footer {
    display: flex;
    color: aliceblue;
    background-color: #212a31;
}

/* footer */
#footer {
    margin-top: 62.5rem; /* 1000px */
}

.footer-element {
    padding: 0.625rem; /* 10px */
    width: 33.33%;
}

.footer-heading {
    font-size: 1.25rem; /* 20px */
    font-weight: bold;
    padding-bottom: 0.9375rem; /* 15px */
}