---
import footerData from "../data/footer.json";

const { items, "maps-link": mapsLink } = footerData;
---

<div
  id="footer"
  class="grid grid-cols-2 text-[aliceblue] bg-dark-almost-black py-8 px-4 gap-8 mt-0"
>
  <div class="flex flex-col justify-start gap-4">
    {
      items.map((item) => (
        <>
          <div class="text-[1.25rem] font-bold pb-0">
            <b>{item.heading}</b>
          </div>
          <p>{item.description}</p>
        </>
      ))
    }
  </div>
  <div class="flex items-center justify-center">
    <iframe
      src={mapsLink}
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      class="w-full h-[200px] border-0 rounded-lg"></iframe>
  </div>
</div>
