---
// src/layouts/Layout.astro
import "../styles/global.css";
import { getEntry } from "astro:content";

const configEntry = await getEntry("config", "config");
const { title } = configEntry.data;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{config.title}</title>
    <!-- FontAwesome icons -->
    <script
      src="https://kit.fontawesome.com/b9b42215a0.js"
      crossorigin="anonymous"></script>
  </head>
  <body class="font-arial text-base flex flex-col min-h-screen">
    <slot />
  </body>
</html>
